#Cabecario {
    text-align: center;
    background-color: blue;
    font-style: oblique;
    padding: 5px;
    font-weight: bold;
}

#Conteudo {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

#ParteTextoTítulo {
    flex: 1;
    margin-right: 20px;
    margin-left: 100px;
    align-items: center;
}

#ParteImagemLegenda {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    margin-right: 100px;
    width: 500px;
}

#CabecarioFinal {

    background-color: blue;

}

.Centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Horizontal {
    display: flex;
}

.ImagemLadoImagem {
    border-style: solid;
    border-color: blue;
    flex: 1;
    margin-right: 20px;
    background-color: blue;
}

.linha {
    padding-right: 8px;
    border-right: 1px solid white;
    white-space: pre-line;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    float: right;
}


p {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7ch;
}

body {
    background-color: black;
    border-style: solid;
    border-color: blue;
}

ul li{
    display: inline;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}